<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VueDragon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.8.2/js/all.js"></script>
</head>
<body>
    <section class="section"><div class="container">
        <h1 class="title">Hello, fellow dragons!</h1>
        
        <ul>
            <!-- I'm a sink, so I can not be dragged, but you can drop stuff on me -->
            <!-- I also have an AoE of 25 pixels, so you don't have to aim that much -->
            <li
              v-dragon dragon-sink :dragon-payload="{dragon: null, index: -1}"
              dragon-class="game-of-thrones"
              dragon-aoe="25"
              v-on:dragon-drop="drop"></li>

            <!-- I'm a normal dragon, you can drop stuff onto me -->
            <li
              v-for="(d, i) in dragons" v-bind:key="d"
              v-dragon :dragon-payload="{dragon: d, index: i}"
              dragon-class="game-of-thrones"
              v-on:dragon-drop="drop">
                <i dragon-handle class="fas fa-dragon"></i>
                {{ d }}
            </li>
        
            <!-- I'm a source, so I can only be dragged -->
            <li
              v-dragon dragon-source :dragon-payload="{dragon: newDragon, index: -1}"
              dragon-class="game-of-thrones">
                <i dragon-handle class="fas fa-dragon"></i>
                <input type="text" placeholder="The new dragon" v-model="newDragon">
            </li>
        </ul>
    </div></section>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="dragon.js"></script>
    <script>
        window.app = new Vue({
            el: "section",
            data: {
                dragons: ['Drogon','Rhaegal','Viserion','Balerion','Vhagar','Meraxes','Sunfyre','Syrax','Caraxes','Meleys','Vermax','Arrax','Stormcloud','Sheepstealer','Seasmoke','Silverwing','Vermithor','Shrykos','Tyraxes','Dreamfyre','Vermithrax','Ghiscar','Valryon','Essovius','Archonei','The last dragon'],
                newDragon: ""
            },
            methods: {
                drop() {
                    if (window.event.data.from.index >= 0) this.dragons.splice(window.event.data.from.index, 1); // Remove the old dragon
                    this.dragons.splice(window.event.data.to.index + (window.event.data.to.index > window.event.data.from.index ? 0 : 1), 0, window.event.data.from.dragon); // Insert it at the new position
                    if (window.event.data.from.index == -1) this.newDragon = ""; // Clear the newDragon field
                }
            }
        });
    </script>

    <style>
        li { transition: box-shadow 0.5s; }
        [dragon-handle] { cursor: grabbing; }
        .dragon-aim { box-shadow: 0 0 10px #089E71; }
        .dragon-use { opacity: 0.8; }
    </style>
</body>
</html>
